
html, body {
  background: #f2f2f2;
  font-family: "Open Sans";
}

a:focus {
    outline: none;
}

.section ol, .section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu. 
#menu * {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#menu {
	position: fixed;
	top: 0;
	z-index: 70;
	  width: 100%;
	  text-align: center;
	  height: 3em;
	  padding: 1em;
  	  background: #f2f2f2;
  	  margin-top: 0;
      margin: 0!important;
/*  	  background: rgba(250, 250, 250, 0.9);
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.02);*/
}
#menu > li {
  display: inline-block;
  margin: 0 1em;
}
#menu > li a {
	color: grey;
  	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.21);
}
#menu > li a:hover,
#menu > li a:focus,
#menu > li a:active,
#menu > li.active a {
	color: black;
  	text-shadow: none;
  	text-decoration: none;
}
#menu > li a:hover {
  	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.44);
}
#menu > li:first-child {
/*	float: left;
  font-weight: bold;*/
  padding: 0 1em;
}
#menu > li:first-child a {
  color: black!important;
    text-shadow: 1px 1px 1px white;
      pointer-events: none;
        font-size: 1.2em;
}

#fullpage .section .content {
	padding-top: 5em;
	padding-bottom: 5em;
}

#fullpage .section .content .header {
  padding-bottom: 12em;
  text-align: center;
}
.thoughts_title {
  /*font-weight: 600;*/
  font-size: 1.5em;
  /*text-shadow: 1px 1px 1px white;*/
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.44);
  /*margin-left: 1em;*/
}
.thoughts_title a {
	text-shadow: none;
}



        .quotes-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            grid-gap: 20px;
            padding: 20px;
        }

        .quote {
            background-color: white;
            border: 0px solid #ccc;
            border-radius: 2px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: left;
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            word-wrap: break-word;
            opacity: 0.7;
        }

        .quote h3 {
            margin: 0;
            margin-bottom: 10px;
            text-align: left;
            width: 100%;
        }

        .quote p::first-letter {
            font-size: 1.2em;
            font-weight: bold;
            line-height: 0;
            margin-right: 0.05em;
        }

        .quote:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            transform: translateY(-4px);
            opacity: 1;
        }

        @media screen and (min-width: 601px) {
            .quote {
                min-height: 100px;
            }
        }

        @media screen and (max-width: 600px) {
            .quote {
                max-width: 100%;
            }
        }

.sayhi {
	display: none;
  position: fixed; 
  top: 3em;
  left: 50%;
  text-align: right;
  font-size: 1.5em;
  line-height: 2em;
  left: calc(50% - 186px);
}
.sayhi h1 {
	display: inline-block;
    margin-right: 0.5em;
    font-weight: 300;
    letter-spacing: -.05em;
  color: black;
  background-image: -webkit-linear-gradient(92deg,#2696F3,#3AFE5A);

  background-clip: text;
  text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: hue 20s infinite linear;
  animation: hue 20s infinite linear;

  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.21);
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.change-text {
  display: inline-block;
  position: relative;
  width: 15em;
  height: 0.9em;
} 
.change-text.adjstuff {
	margin-right: 0.2em;
}
.change-text:before {
  content: '';
  background: white;
  position: absolute;
  right: -20px;
  bottom: -1px;
  height: 41px;
  width: 20px;
  display: none;
}
.change-text span {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  line-height: 1;
  text-decoration: underline;
  clip: rect(0px, 0px, 198px, 0px);
}
.change-text span:after {
  content: '';
  background: white;
  position: absolute;
  right: -40px;
  bottom: -1px;
  height: 41px;
  width: 10px;
  display: none;
}
.change-text span.active {
  -webkit-transition: all 0.85s ease-in-out;
  -moz-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out;
  opacity: 1;
  clip: rect(0, 198px, 198px, 0px);
}


.fp-viewing-portfolio #menu {
  margin-top: 300px;
  background: transparent;
}
.fp-viewing-portfolio #menu > li:first-child {
  opacity: 0;
  margin-left: -142px;
}
.fp-viewing-portfolio .sayhi {
	display: block;
}
.showcase {
	display: none;
}
.js-flickity {
  position: absolute;
  opacity: 0;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  left: 1em;
  top: 1em;
  overflow: hidden;
}
.js-flickity:after {
  content: "";
  display: block;
  position: absolute; /* could also be absolute */ 
  width: calc(100%);
  height: calc(100%);
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 10;
  pointer-events: none;
background: rgb(0,255,148); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,255,148,1) 0%, rgba(0,23,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,255,148,1)), color-stop(100%,rgba(0,23,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(0,255,148,1) 0%,rgba(0,23,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(0,255,148,1) 0%,rgba(0,23,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(0,255,148,1) 0%,rgba(0,23,255,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(0,255,148,1) 0%,rgba(0,23,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff94', endColorstr='#0017ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.js-flickity:hover:after {
	display: none;
}
.js-flickity .gallery-cell {
	width: 80%;
	height: 100%;  
    background-origin: content-box;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
}
.item { 
	width: 33.333%; 
	height: 200px; 
	padding: 1em;
}
.item .workcontent { 
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: calc(100% - 2em);
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  padding-left: 1em;

  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: "Oswald";
  font-weight: 300;
}
.item .workdescription {
	opacity: 0.6;
	font-size: 0.9em;
  font-family: "Open Sans";
}
.item .worktitle { 
  font-size: 1em;
  margin-right: 3em;
}
.item .workyear {
  position: absolute;
  right: 0.5em;
  top: 0;
}
.fp-viewing-portfolio .showcase {
	display: block;
  position: absolute;
  width: 100%;

  top: 360px;
  height: calc(100% - 380px);
}


@media (max-width: 736px ) { 
	.item .workdescription {
		display: none;
	}

	.item { 
		width: 50%; 
		height: 120px; 
	}
	.sayhi {
	  font-size: 1.3em;
	  line-height: 1.5em;
	  right: 2em;
	  top: 2em;
	}
	.sayhi h1 {
	  font-size: 21px;
	}
	.fp-viewing-portfolio #menu {
	  margin-top: 150px;
	}
	.fp-viewing-portfolio .showcase {
  top: 200px;
  height: calc(100% - 210px);
	}
	.fp-viewing-portfolio #menu > li:first-child {
	  opacity: 0;
	  margin-left: -122px;
	}
}
@media  all (max-width: 736px ) and (orientation:landscape) { 

	.sayhi {
	  font-size: 1.3em;
	  line-height: 1.5em;
	  left: calc(50% - 106px);
	  top: 0.5em;
	}
	.sayhi h1 {
	  font-size: 21px;
	}
	.fp-viewing-portfolio #menu {
	  margin-top: 150px;
	}
	.fp-viewing-portfolio .showcase {
  top: 200px;
  height: calc(100% - 210px);
	}
	.fp-viewing-portfolio #menu > li:first-child {
	  opacity: 0;
	  margin-left: -122px;
	}
}


.section.contact .content {
	display: none;
    width: 15em;
    height: 100px;
    
    font-size: 2em;

    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.fp-viewing-contact .section.contact .content {
	display: block;
}


.tumblr_posts > li {
  width: calc(100% - 2.5em);
  display: inline-block;
  min-height: 18em;
  margin: 1em;
  vertical-align: middle;
  background: white;
  padding: 1em;
  font-size: 1.1em;
}

@media (min-width: 736px) { 

	.tumblr_posts > li {
	  width: calc(50% - 2.5em);
	}
}
@media (min-width: 970px) { 

	.tumblr_posts > li {
	  width: calc(33% - 2.5em);
	}
}


.tumblr_title {
  font-size: 2em;
  line-height: 1.125;
  font-weight: 200;
  padding-top: 1em;
}

.tumblr_quote_post {
	background: transparent!important;
}
.tumblr_quote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}
.tumblr_quote > p {
  margin-left: 2em;
}
.tumblr_source {
	float: right;
  	padding-top: 2em;
  padding-right: 2em;
}
.tumblr_open_quote,
.tumblr_close_quote {
  font-size: 2em;
  font-family: Arial;
  line-height: 1em;
}
.tumblr_close_quote {
	float: right;
  margin-top: -0.5em;
}

.tumblr_body {
  padding-top: 2em;
}




/* ****************************

	Expanding Boxes

   **************************** */


.cube, .half1, .half2, .container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 150px auto 0;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}

.cube {
  width: 100px;
  height: 100px;
}

.cube {
  -webkit-animation: cube 10s forwards infinite;
  -moz-animation: cube 10s forwards infinite;
  animation: cube 10s forwards infinite;
  -webkit-transform-origin: center 50px;
  -moz-transform-origin: center 50px;
  -ms-transform-origin: center 50px;
  -o-transform-origin: center 50px;
  transform-origin: center 50px;
}

.half1 {
  height: 40px;
  top: 0;
  position: absolute;
  -webkit-animation: half-fold 10s forwards infinite;
  -moz-animation: half-fold 10s forwards infinite;
  animation: half-fold 10s forwards infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.side {
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
}

.s1 {
  top: 0;
  left: 40px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: s1ani 10s forwards infinite;
  -moz-animation: s1ani 10s forwards infinite;
  animation: s1ani 10s forwards infinite;
}

.s2 {
  top: 20px;
  left: 40px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: s2ani 10s forwards infinite;
  -moz-animation: s2ani 10s forwards infinite;
  animation: s2ani 10s forwards infinite;
}

.s3 {
  top: 40px;
  left: 40px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: s3ani 10s forwards infinite;
  -moz-animation: s3ani 10s forwards infinite;
  animation: s3ani 10s forwards infinite;
}

.s4 {
  top: 60px;
  left: 40px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: s4ani 10s forwards infinite;
  -moz-animation: s4ani 10s forwards infinite;
  animation: s4ani 10s forwards infinite;
}

.s5 {
  left: 20px;
  top: 20px;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: s5ani 10s forwards infinite;
  -moz-animation: s5ani 10s forwards infinite;
  animation: s5ani 10s forwards infinite;
}

.s6 {
  left: 60px;
  top: 40px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: s6ani 10s forwards infinite;
  -moz-animation: s6ani 10s forwards infinite;
  animation: s6ani 10s forwards infinite;
}

@-webkit-keyframes s1ani {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-90deg);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes s1ani {
  0% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    -moz-transform: rotateX(0deg);
  }
  50% {
    -moz-transform: rotateX(-90deg);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes s1ani {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes s2ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes s2ani {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes s2ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes s3ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes s3ani {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes s3ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes s4ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes s4ani {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  40% {
    -moz-transform: rotateX(0deg);
  }
  50% {
    -moz-transform: rotateX(90deg);
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes s4ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes s5ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes s5ani {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -moz-transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(90deg);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes s5ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
    -moz-transform: rotateY(-179deg);
    -ms-transform: rotateY(-179deg);
    -o-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
    -moz-transform: rotateY(-179deg);
    -ms-transform: rotateY(-179deg);
    -o-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes s6ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes s6ani {
  0% {
    opacity: 0;
    -moz-transform: rotateY(179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -moz-transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
  40% {
    -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(-90deg);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes s6ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
    -moz-transform: rotateY(179deg);
    -ms-transform: rotateY(179deg);
    -o-transform: rotateY(179deg);
    transform: rotateY(179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
    -moz-transform: rotateY(179deg);
    -ms-transform: rotateY(179deg);
    -o-transform: rotateY(179deg);
    transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.container {
	  display: inline-block;
	    padding-top: 3.5em;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 100px auto 0;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cube {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.side {
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
}

.s1 {
  top: 0;
  left: 40px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: s1ani 10s forwards infinite;
  -moz-animation: s1ani 10s forwards infinite;
  animation: s1ani 10s forwards infinite;
}

.s2 {
  top: 20px;
  left: 40px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: s2ani 10s forwards infinite;
  -moz-animation: s2ani 10s forwards infinite;
  animation: s2ani 10s forwards infinite;
}

.s3 {
  top: 40px;
  left: 40px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: s3ani 10s forwards infinite;
  -moz-animation: s3ani 10s forwards infinite;
  animation: s3ani 10s forwards infinite;
}

.s4 {
  top: 60px;
  left: 40px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: s4ani 10s forwards infinite;
  -moz-animation: s4ani 10s forwards infinite;
  animation: s4ani 10s forwards infinite;
}

.s5 {
  left: 20px;
  top: 20px;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: s5ani 10s forwards infinite;
  -moz-animation: s5ani 10s forwards infinite;
  animation: s5ani 10s forwards infinite;
}

.s6 {
  left: 60px;
  top: 40px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: s6ani 10s forwards infinite;
  -moz-animation: s6ani 10s forwards infinite;
  animation: s6ani 10s forwards infinite;
}

@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  30% {
    -webkit-transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    /* CUBE ROTATES BACK */
  }
  60% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    /* ARMS FOLD UP */
  }
  65% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    /* FADE TO BLACK */
  }
}
@-moz-keyframes cube {
  0% {
    -moz-transform: rotateX(0deg);
  }
  30% {
    -moz-transform: rotateX(0deg);
  }
  40% {
    -moz-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    /* CUBE ROTATES BACK */
  }
  60% {
    -moz-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    /* ARMS FOLD UP */
  }
  65% {
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
  }
  75% {
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
  }
  90% {
    -moz-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    /* FADE TO BLACK */
  }
}
@keyframes cube {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  30% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    /* CUBE ROTATES BACK */
  }
  60% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    /* ARMS FOLD UP */
  }
  65% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    -ms-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    -o-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    -ms-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    -o-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    -ms-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    -o-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    -moz-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    -ms-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    -o-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    /* FADE TO BLACK */
  }
}
@-webkit-keyframes s1ani {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    background: white;
  }
  40% {
    -webkit-transform: rotateX(0deg);
    background: white;
  }
  50% {
    -webkit-transform: rotateX(-90deg);
    background: white;
  }
  90% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-moz-keyframes s1ani {
  0% {
    opacity: 1;
    -moz-transform: translateY(0px);
    background: white;
  }
  40% {
    -moz-transform: rotateX(0deg);
    background: white;
  }
  50% {
    -moz-transform: rotateX(-90deg);
    background: white;
  }
  90% {
    -moz-transform: rotateX(-90deg);
  }
}
@keyframes s1ani {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    background: white;
  }
  40% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: white;
  }
  50% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    background: white;
  }
  90% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes s2ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  40% {
    background: white;
  }
  45% {
    background: #b4b4b4;
  }
  65% {
    opacity: 1;
    background: #b4b4b4;
    /* DARKEST VISIBLE */
  }
  80% {
    background: #b4b4b4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes s2ani {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  40% {
    background: white;
  }
  45% {
    background: #b4b4b4;
  }
  65% {
    opacity: 1;
    background: #b4b4b4;
    /* DARKEST VISIBLE */
  }
  80% {
    background: #b4b4b4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes s2ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  40% {
    background: white;
  }
  45% {
    background: #b4b4b4;
  }
  65% {
    opacity: 1;
    background: #b4b4b4;
    /* DARKEST VISIBLE */
  }
  80% {
    background: #b4b4b4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s3ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  40% {
    background: white;
  }
  45% {
    background: #969696;
    /* DARKEST VISIBLE */
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes s3ani {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  40% {
    background: white;
  }
  45% {
    background: #969696;
    /* DARKEST VISIBLE */
  }
  90% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes s3ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  40% {
    background: white;
  }
  45% {
    background: #969696;
    /* DARKEST VISIBLE */
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s4ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(0deg);
    background: white;
  }
  50% {
    -webkit-transform: rotateX(90deg);
    background: #b4b4b4;
  }
  80% {
    background: #b4b4b4;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes s4ani {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -moz-transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
  40% {
    -moz-transform: rotateX(0deg);
    background: white;
  }
  50% {
    -moz-transform: rotateX(90deg);
    background: #b4b4b4;
  }
  80% {
    background: #b4b4b4;
  }
  90% {
    opacity: 1;
    -moz-transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes s4ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
    -moz-transform: rotateX(-179deg);
    -ms-transform: rotateX(-179deg);
    -o-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: white;
  }
  50% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background: #b4b4b4;
  }
  80% {
    background: #b4b4b4;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s5ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    background: white;
    -webkit-transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
  }
  55% {
    background: white;
  }
  60% {
    background: #c8c8c8;
  }
  90% {
    -webkit-transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes s5ani {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -moz-transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    background: white;
    -moz-transform: rotateY(0deg);
  }
  40% {
    -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(90deg);
  }
  55% {
    background: white;
  }
  60% {
    background: #c8c8c8;
  }
  90% {
    -moz-transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes s5ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
    -moz-transform: rotateY(-179deg);
    -ms-transform: rotateY(-179deg);
    -o-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
    -moz-transform: rotateY(-179deg);
    -ms-transform: rotateY(-179deg);
    -o-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    background: white;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  55% {
    background: white;
  }
  60% {
    background: #c8c8c8;
  }
  90% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s6ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
    background: white;
  }
  60% {
    background: #c8c8c8;
  }
  80% {
    background: #c8c8c8;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes s6ani {
  0% {
    opacity: 0;
    -moz-transform: rotateY(179deg);
  }
  20% {
    opacity: 0;
    -moz-transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
  40% {
    -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(-90deg);
    background: white;
  }
  60% {
    background: #c8c8c8;
  }
  80% {
    background: #c8c8c8;
  }
  90% {
    opacity: 1;
    -moz-transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes s6ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
    -moz-transform: rotateY(179deg);
    -ms-transform: rotateY(179deg);
    -o-transform: rotateY(179deg);
    transform: rotateY(179deg);
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
    -moz-transform: rotateY(179deg);
    -ms-transform: rotateY(179deg);
    -o-transform: rotateY(179deg);
    transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    background: white;
  }
  60% {
    background: #c8c8c8;
  }
  80% {
    background: #c8c8c8;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes half-fold {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(-90deg);
  }
  90% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-moz-keyframes half-fold {
  0% {
    -moz-transform: rotateX(0deg);
  }
  50% {
    -moz-transform: rotateX(0deg);
  }
  60% {
    -moz-transform: rotateX(-90deg);
  }
  90% {
    -moz-transform: rotateX(-90deg);
  }
}
@keyframes half-fold {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  90% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}


/* END Expanding Boxes */




/* Paper Box Shadow */

.paper-box {
  position: relative;
  width: 80%;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}
.paper-box:before {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0%;
  border-radius: 50%;
  z-index: -1;
  top: 0%;
  content: "";
  box-shadow: 0 -5px 9px rgba(0,0,0,0.1);
}
.paper-split {
  height: 21px;
  overflow: hidden;
  position: relative;

  position: absolute;
  top: 1.5em;
  left: 10%;
  width: 100%;
  z-index: -1;
}
.paper-split .paper-box {
  position: absolute;
  top: 20px;
}

@media (min-width: 736px) { 
	.paper-box {
	  width: 40%;
	}
	.paper-split {
	  left: 30%;
	  width: 100%;
	}
}
/* END Paper Box Shadow */
